studio-workspace/saas-shopping-sys-app/src/main/resources/orders.wsdl.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.avioconsulting.com/mulesoft/bootcamp/store/orderService/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.avioconsulting.com/mulesoft/bootcamp/store/order-service" targetNamespace="http://www.avioconsulting.com/mulesoft/bootcamp/store/order-service">
  <wsdl:types>
    <xsd:schema xmlns:tns="http://www.avioconsulting.com/mulesoft/bootcamp/store/orderService/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.avioconsulting.com/mulesoft/bootcamp/store/orderService/types">

    <xsd:element name="placeOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="customer" type="tns:Customer"/>
                <xsd:element name="lineItems" type="tns:OrderItems"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="placeOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderId" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getOrderRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderId" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getOrderResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="order" type="tns:SalesOrder"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getOrderStatusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderId" type="xsd:integer"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="getOrderStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="orderStatus" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>



    <xsd:complexType name="SalesOrder">
        <xsd:sequence>
            <xsd:element name="customer" type="tns:Customer"/>
            <xsd:element name="orderHeader" type="tns:OrderHeader"/>
            <xsd:element name="items" type="tns:OrderItems"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Customer">
        <xsd:sequence>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="firstName" type="xsd:string"/>
            <xsd:element name="lastName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderHeader">
        <xsd:sequence>
            <xsd:element name="orderId" type="xsd:integer"/>
            <xsd:element name="orderDate" type="xsd:dateTime"/>
            <xsd:element name="statusCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderItem">
        <xsd:sequence>
            <xsd:element name="itemId" type="xsd:integer"/>
            <xsd:element name="quantity" type="xsd:integer"/>
            <xsd:element name="statusCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OrderItems">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="lineItem" type="tns:OrderItem"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="getOrderStatusRequest">
    <wsdl:part element="sch:getOrderStatusRequest" name="getOrderStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderStatusResponse">
    <wsdl:part element="sch:getOrderStatusResponse" name="getOrderStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="placeOrderRequest">
    <wsdl:part element="sch:placeOrderRequest" name="placeOrderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderResponse">
    <wsdl:part element="sch:getOrderResponse" name="getOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="placeOrderResponse">
    <wsdl:part element="sch:placeOrderResponse" name="placeOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderRequest">
    <wsdl:part element="sch:getOrderRequest" name="getOrderRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderServicePort">
    <wsdl:operation name="getOrderStatus">
      <wsdl:input message="tns:getOrderStatusRequest" name="getOrderStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:getOrderStatusResponse" name="getOrderStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
      <wsdl:input message="tns:placeOrderRequest" name="placeOrderRequest">
    </wsdl:input>
      <wsdl:output message="tns:placeOrderResponse" name="placeOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <wsdl:input message="tns:getOrderRequest" name="getOrderRequest">
    </wsdl:input>
      <wsdl:output message="tns:getOrderResponse" name="getOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServicePortSoap11" type="tns:OrderServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getOrderStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="getOrderStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
      <soap:operation soapAction=""/>
      <wsdl:input name="placeOrderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="placeOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOrder">
      <soap:operation soapAction=""/>
      <wsdl:input name="getOrderRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getOrderResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderServicePortService">
    <wsdl:port binding="tns:OrderServicePortSoap11" name="OrderServicePortSoap11">
      <soap:address location="http://localhost:8080/ws/order-service"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>