studio-workspace-7.5/.mule/plugins-tmp/repository/4.3.0/f2ea2cb4-c600-4bb5-88e8-e952ff5591ee/mule-plugin-aepi-case-management-pro-api/1.0.1/mule-plugin-aepi-case-management-pro-api-1.0.1-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="optional" default="anypoint.mulesoft.com" name="property_host"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="443" name="property_port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="/mocking/api/v1/links/53f8a543-ac6c-404d-9fd2-76480de9423f" name="property_basePath"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="HTTPS" name="property_protocol"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="property_proxyConfig"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="10000" name="property_responseTimeout"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-case-by-case-idType" substitutionGroup="mule:abstract-operator" name="get-case-by-case-id"></xs:element>
  <xs:complexType name="Get-case-by-case-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="case-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="correlation-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-diagnoses-by-case-idType" substitutionGroup="mule:abstract-operator" name="update-diagnoses-by-case-id"></xs:element>
  <xs:complexType name="Update-diagnoses-by-case-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-diagnoses-by-case-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="case-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="correlation-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-persons-by-case-idType" substitutionGroup="mule:abstract-operator" name="update-persons-by-case-id"></xs:element>
  <xs:complexType name="Update-persons-by-case-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-persons-by-case-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="case-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="client-secret"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="correlation-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/aepicase-management-process-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
          <xs:enumeration value="ALWAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>